* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--header-color: #131921;
--downheader-color: #3b4149;
--icon-color: #febd69 ;
--baar-color: #232f3e;
--bannertext-color: #bf4800 ;
--homewrapper-color: #d6d6d6;
--catefories-color: #ededed;
--blog-color: #777777;
--price-color: #1c1c1b;
--discount-color: #fc353c ;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}
.image-width{
  /* width: 600px; */
  /* height: 400px; */
  object-fit: cover;
}
.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a ;
  padding: 15px;
}

body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--icon-color);
}



Link img {
  fill: red;
}


.gap-05 {
  gap: 5px;
}


.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}


.fancy-border {
  text-align:center;
  border-top: 1px solid;
  border-image:   linear-gradient(to right, rgb(30, 255, 0) 25%, rgb(30, 255, 0) 25%, rgb(255, 0, 0) 50%,rgb(255, 0, 0) 50%, rgb(56, 96, 228) 75%, rgb(56, 96, 228) 75%) 5;
}

.smallpicborder {
  border: #0000008d solid 1px;background-color: #ffff;
  border-radius: 10px;
  height: 100px;
  
}
.smallpic {
  padding: 20px;
}
.line-height-btn {
  line-height: 30px !important;
}
.button {
  background-color: var(--baar-color);
  color: white;
  padding: 13px 33px;
  font-size: 14px;
  border-radius: 25px;
}

.button:hover{
  background-color: var(--icon-color);
  color: var(--header-color);
}

/* Header Part */

.header-top-strip {
  border-bottom: 1px solid var(--downheader-color);
  background-color: var(--header-color);
}

.header-upper {
  background-color: var(--header-color);
}
.header-upper .input-group-text {
  background-color: var(--icon-color);
}

.header-botton {
  background-color: var(--downheader-color);
}

.header-botton .menu-links a ,
.header-botton .dropdown button {
color: white;
font-size: 14px;
line-height: 18px;
font-weight: 400;
letter-spacing: 0.3;
text-transform: uppercase;
}
.header-botton .dropdown button {
  background: transparent;
  border: none;
}
.header-botton .dropdown button::before{
  content: url("../public/images/menu.svg") ;
}
.header-botton .dropdown button:focus {
  box-shadow: none;
}
.header-upper-links img {
  height: 35px;
  width: 35px;
}



.header-botton .dropdown-menu {
  background-color: var(--header-color);
  width: 100%;
  color: white;
  margin-top: 40px;
  transform: translate(0px, 60px) !important;
}
.header-botton .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--downheader-color);
}
.header-botton .dropdown-item:hover{
  background-color: #febd6916;
  color: var(--header-color) !important;
}
/* Header Ends Here */



/* footer part */

footer {
  background-color: var(--baar-color);
}

footer:not(:first-child) {
  border-top: 1px solid var(--downheader-color);
}
footer .input-group-text {
background-color: var(--baar-color);
color: white;
padding: 8px 17px;
font-size: 400;
line-height: 20px;
}
/* footer part ends here */



/* home page */



.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--bannertext-color);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;

}

.main-banner-content h6 {
  font-weight: 600;
  
}

.change-buttom-place{
  bottom: -150%;
  left: 0%;
  background-color: var(--bannertext-color);
}

.main-banner-content {
  top:15%;
  left: 8%;
  font-size: 1.3vw;
}

.main-banner-content h5 {
  font-size: 32px;
  letter-spacing: -2px;
  font-weight: 500;
  padding: 0;
  text-transform: none;
}

.main-banner-content p , Link {
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #bf4900;
  font-weight: 700;
  padding: 0;
  text-transform: none;
  /* background-color: #bf49005c; */
  margin-right: 50px;
}

/* small banner */

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--icon-color);
  margin: 0 0 12px;
  padding: 2px 10px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  background-color: #000000ae;
  border-radius: 8px;

  opacity: 0.8;
}


.middle-page{
  position: absolute;
  top: 45vh;
  /* bottom: 50vh; */
  /* left: 50vh; */
  right: 45vw;
  /* transform: translate(-50%, -50%); */

  scale: 10;

}

.small-banner-content {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 10%;
  font-size: 1.3vw;

}

.to-price {
color: var(--discount-color);
font-weight: 500;
}

.small-banner:hover .small-banner-content :not(.change-buttom-opacity) {
  opacity: 0.2;
}

.change-buttom-opacity {
  opacity: 1;
  padding: 7px;
  background-color: var(--bannertext-color);
  position: absolute;
  top: 170%;
}

.uniqe-banner{
  width: 110px;
  height: 110px;
}


.small-banner-content h5 {
  font-size: 22px;
  letter-spacing: -1px;
  font-weight: 700;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  text-transform: none;
  background-color: #bf49008d;
  border-radius: 8px;
}
.shop-categories {
margin-left: 20px;
}

.img-flip {
  transform: scaleX(-1)
}
/* .img-product-card-size {
  width: ;
} */

.small-banner-content p {
  font-size: 14px;
  letter-spacing: 0.4px;
  color: var(--downheader-color);
  font-weight: 500;
  padding: 0 !important;
  padding-left: 10px !important;

  background-color: #ffffff7b;
  border-radius: 8px;
}

.small-banner {
  width: 49%;
  box-shadow: 1px 6px 15px rgb(0, 0, 0);

}



/* home wrapper2 */

.home-wrapper-2 {
background-color: var(--homewrapper-color);
}

/* home wrapper 2 ends here */

/* categories */

.categories {
background-color: white;
box-shadow: 0 0 10px #0000001a;
padding: 15px;
}

.categories > div {
  width: 25%;
}

.categories > div > div {
  width: 45%;
}

.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem 0;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}


.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7)
 {
border-right: 1px solid var(--catefories-color);
}

/* categories ends here */

/* home page ends here */

/* blog part */
.blog-card{
  background-color: white;
  border-radius: 10px;
}

.blog-card img {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.blog-content{
  padding: 15px; 
}

.date{
font-size: 13px;
line-height: 24px;
text-transform: uppercase;
font-weight: 400;
color: var(--blog-color);
}

.blog-content h5{
  font-size: 15px;
  color: var(--header-color);
}

.blog-content .desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--blog-color);
}
.single-blog-card a {
  font-size: 15px;
  color: var(--blog-color);
  margin-bottom: 20px;
}
.single-blog-card h3{
  font-size: 24px;
  font-weight: 600;
  color: var(--price-color);
  
}
.single-blog-card ph3{
  font-size: 14px;
  color: var(--blog-color);
  
}



.price-in-single {
  font-size: x-large;
}
/* blog part ends here */


/* product card */

.description {
  color: var(--blog-color);
  font-size: 13px;
  margin-right: 20px;
}

.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 460px;

}

.product-card:hover .action-bar{
  right: 4.8%;
}
.height-force-small {
  height: 300px !important;
}
.height-force-big {
  height: 550px !important;
}
.w-10000 {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

.mb-0000 {
  margin-bottom: 0 !important;
}
.product-title {
  cursor: pointer;
}

.product-details {
  margin-right: 80px;
}

.product-card .product-details h6 {
color: var(--bannertext-color);
font-size: 13px;
}

.product-card .product-details h5 {
font-size: 15px;
color: var(--price-color);
}

.product-card .product-details p.price {
  font-size: 16px;
  color: var(--price-color);
}

strike{
  font-size: 18px;
}
.action-bar {
  top: 13%;
  right: -10%;
  transition: 0.3s;
}

.product-card .product-image img {
  object-fit: contain;
  cursor: pointer;
}

.product-card .product-image {
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.wishlist-icon {
  top:5% ;
  right: 5%;
}
.product-image:first-child {
  scale: 0.8;
}
.product-card .product-image >img:last-child {
display: none;
}

.product-card:hover .product-image > img:first-child{
display: none;
}
.product-card:hover .product-image > img:last-child{
  display: block;
}
/* product card ends here */


/* special product card */
.special-product-card {
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
}

.discount-badge {
  border-radius: 50%;
  background-color: var(--discount-color);
}

.special-img {
  width: 210px;
  height: 210px;
  margin-right: 10px;
  object-fit: contain;
}

.pro-count p {
  position: absolute;
  top: -160%;
  color: var(--blog-color);
}
.till-date{
  font-weight: bold;
}
.red-p {
  color: var(--discount-color);
  font-size: 24px;
  line-height: 44px;
}
/* special product card ends here */

/* famous start */
.first-famous-card {
  height: 500px;
  background-color: var(--baar-color);
  display: flex;
  align-items: end;
  border-radius: 10px;
  z-index: 10;
transition: 0.3s;

}
.first-famous-card img {
  scale: 0.8;
transition: 0.3s;

}

.other-famous-card {
  height: 500px;
  background-color: var(--catefories-color);
  display: flex;
  align-items: end;
  border-radius: 10px;
}

.famous-card .famous-content {
top: 10%;
left: 4%;
}
.first-famous-card .famous-content {
  top: 10%;
  left: 4%;
  }

.famous-content h5{
font-size: 13px;
line-height: 20px;
font-weight: 400;
color: white;
margin-bottom: 7px;
text-transform: uppercase ;
}

.famous-content h6{
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  color: white;
}
.famous-content p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: white;
}

.famous-card img {
  border-radius: 10px;
  margin-bottom: 20px;
transition: 0.3s;

}
.famous-card {
transition: 0.3s;

}
.first-famous-card > img:hover {
  scale: 1;
}
.famous-card:hover {
scale: 1.05;
background-color: var(--icon-color);
z-index: 100;

}


.famous-card-t div:first-child:hover {
  scale: 1.1;
  background-color: var(--price-color);
  }


  .famous-card img:hover {
    scale: 1.5;
    z-index: -10;
    overflow: scroll;
    }
/* famous ends */


/* Our Store start */

/* side bar filter ends */

.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
}
.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--price-color);
  margin-bottom: 20px;
}

.filter-card ul ,
.filter-card .form-check-label  {
    list-style-type: none;
    font-size: 13px;
    line-height: 30px;
    color: var(--blog-color);
    cursor: pointer;
}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: var(--icon-color);
}
.filter-card .form-check-input:checked {
  background-color: var(--icon-color);
  border-color: var(--icon-color);
}
.sub-title {
  font-size: 14px;
  font-weight: 700;
  color: var(--price-color);
  margin-bottom: 15px;
  margin-top: 20px;
}
.form-floating input{
  background-color: #77777730;
}

.colors {
  list-style-type: none ;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;

}
.random-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.random-products img {
  width: 110px;
}
.random-products h5 {
font-size: 14px;
}

.random-products p {
  margin: 0;
  }
  
.random-products:first-child {
  border-bottom: 1px solid var(--catefories-color);
}
.random-products:last-child {
margin-top: 16px;
}

/* side bar filter ends */

/* main store */

.filter-sort-grid {
padding: 10px;
background-color: white;
border-radius: 10px;
}
.grid img {
  width: 35px;
  height: 35px;
  background-color: var(--homewrapper-color);
  padding: 8px;
  border-radius: 6px;
}

.gr-12 {
  width: 99.8%;
}

.gr-12 .action-bar {
  top: 17%
}
.gr-6 {
  width: 49.4%;

}

.gr-4 {
  width: 32.6%;
}

.gr-3 {
  width: 24%;
}


/* main store ends */

/* Our Store ends here */


/* Contact page  */



.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}

.contact-inner-wrapper > div {
width: 49%;
}

.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}

.contact-inner-wrapper form .form-control {
  background-color: var(--homewrapper-color);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}

.contact-inner-wrapper ul {
  list-style: none;
}

.contact-inner-wrapper address , .contact-inner-wrapper a, .contact-inner-wrapper p {
  color: var(--blog-color);
}
/* Contact page  end */


.c{
  position: absolute;
}

/* Compare Product */

.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}


.compare-product-card .cross{
top: 10px;
right: 20px;
width: 25px;
cursor: pointer;
padding: 3px;
cursor: pointer;
}

.compare-product-details h5.title,
 .wishlist-card h5.title {
font-size: 15px;
line-height: 22px;
font-weight: 500;
color: var(--price-color);
}

.compare-product-details h6.price,
 .wishlist-card h6.price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: var(--price-color);

}

.compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Compare Product ends */


/* wishlist start */
.wishlist-card .cross{
  top: 10px;
  right: 20px;
  width: 25px;
  cursor: pointer;
  padding: 3px;
  cursor: pointer;
  }



/* wishlist ends here */

/* auth card */

.auth-card{
  padding: 20px;
  background-color: rgb(186, 186, 186);
  width: 500px;
  border-radius: 10px;
  margin: 30px auto;
}



/* auth card ends here*/





button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.control {
  border: 0;
  border-radius: 8px;
  outline: none;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  color: #f9f9f9;
  margin: 8px 0;
  font-family: inherit;
  text-align: left;
  font-size: 16px;
  transition: 0.4s;
}

.controlchekbox {
  border: 0;
  border-radius: 8px;
  outline: none;
  width: 50%;
  height: 28px;
  padding: 0 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  color: #f9f9f9;
  margin: 8px 0;
  font-size: 16px;
  transition: 0.4s;
}
.controladmin {
  border: 0;
  border-radius: 8px;
  outline: none;
  width: 50%;
  height: 28px;
  padding: 0 16px;
  border-radius: 6px;
  color: #f9f9f9;
  margin: 8px 0;
  font-size: 16px;
  transition: 0.4s;
}


.login-card {
  width: 450px;
  height: 480px;
  padding: 30px;
  border-radius: 1.25rem;
  background: var(--blog-color);
  backdrop-filter: blur(26px);
  text-align: center;
}

.login-card2{
  padding: 30px !important;
  width: 450px;
  height: 480px;
  
}

.login-card3 {
  height: 680px;

}

.login-card2 > h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 6px;
  color: #f9f9f9;
}

.login-card img {
  width: 120px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
  margin-bottom: 20px;
}

.login-card > h3 {
  color: var(--icon-color);
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 1rem;
}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
}

.back-btn {
  background-color: var(--bannertext-color);
  cursor: pointer;
}

.login-form input.control::placeholder {
  color: #000000;
}


.login-form input.control {
  background-color: var(--catefories-color);
  color: #000;
  font-weight: 500;
}

.opacity-disable{
  opacity: 0.3;
}


#bars {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  height: 6px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
}





.weak {
  
  background-color : #bc2b38;
  width: 33.33%;
}

.medium {
  background-color : #d36f30 !important;
  width: 66.66%;
}

.strong {
  background-color : #1eb965;
  width: 100%;
}

.strength {
  text-align: left;
  height: 30px;
  text-transform: capitalize;
}



/* Main Product Page start */

.description-wrapper h4 ,
.reviews-wrapper h3{
  font-size: 26px;
  color: var(--price-color);
  margin-bottom: 10px;
}
.description-wrapper p {
  font-size: 14px;
  color: var(--blog-color);
}
.description-wrapper {
  
}

.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}

.review-head {
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
padding-bottom: 20px;
}

.review-head h4 {
font-size: 18px;  
color: var(--price-color);
}

.review-head p, 
.review-head a{
font-size: 14px;  
color: var(--blog-color);
}

.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;

}

.review-form h4{
 font-size: 16px;
 color: var(--blog-color);
}

.review:not(:last-child){
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
}
.reviews p{
  font-size: 14px;
  color: var(--blog-color);
}

/* Main Product Page End here */


.add-to-card2 {
  width: 100px;
}

.edit-hover {
  z-index: 10;
}

.add-to-card {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.number-added-to-card {
position: relative;
top: -25px;
right: 15px;
/* color: var(--catefories-color); */
/* background-color: var(--bannertext-color); */
/* border: var(--bannertext-color) 1px solid; */
/* height: 100px; */
/* font-size: larger; */
border-radius: 10px;
}

.active {
  font-weight: 900 !important;
  border-color: #10101030 !important;
  background: #00d9ff30 !important;
  color: #10101030 !important; 
}



/* cart */

.cart-container {
  padding: 2rem 4rem;
}
.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.cart-container .title-cart {
  margin: 2rem 0 1rem 0;

}

.cart-container .title-cart h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item, .cart-container .title-cart {
display: grid;
align-items: center;
grid-template-columns: 3fr 1fr 1fr 1fr ;
column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 1rem;

}

.cart-container .title-cart .product-title-card {
padding-left: 0.5rem;
}

.cart-container .title-cart .product-total-card {
  padding-right: 0.5rem;
  justify-self: right
}

.cart-item .cart-product {
  display: flex;
}

.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3 {
font-weight: 400;
padding-left: 10px;
}

.cart-item .cart-product p {
  font-weight: 400;
  padding-left: 10px;
  
  
  }

.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  color: var(--discount-color);
  padding: 5px 10px;
  border-radius: 10px;

}
.cart-item .cart-product button:hover {
  color: black;
  background-color: var(--icon-color);

}


.cart-product-quantity {
  display: flex;
  border: rgb(177, 177, 177) solid 0.5px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  width: 130px;
  max-width: 100%;
}


.cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
}
.cart-product-quantity .count {
  padding: 0.7rem 0;
}


.cart-product-total-price {
  margin-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
  
}


/* cart summary */


.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem ;
}

.cart-summary .clear-cart {
  width: 130px;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}


.cart-checkout {
  width: 270px;
  max-width: 100%;
}

.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart-checkout .subtotal .amount {
  font-weight: 700;
}

.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}

.checkout-width {
width: 100%;
}



.start-shopping {
  margin-top: 1rem;
}

.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.start-shopping a span {
  margin-left: 0.5rem;
}

.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
/* cart summary ends here */

.justify-content-force{
  justify-content: center !important;
}


/* Modal? */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}
.modal-input {
  width: 200px;
  border: var(--bannertext-color) solid 1px;
  border-radius: 8px;
  padding: 5px;
  margin: 15px;
}


.modal-label {
  display: flex;
  flex-direction: column;

}

.modal-span {
  text-align: center;
  font-size: small;
  color: var(--discount-color);
  visibility: hidden;

}




.modal-container:hover > .modal-label > .modal-span {
  visibility: visible;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 575px){


  .change-brand-direction img {
    flex-direction: column;
    width: 50px;
    height: auto;
  }
  
  /* .change-brand-size {
    font-size: 20px !important;
  
  } */

  .featured-collection-wrap-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }


.famous-card-t {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 40vw;

}
  .special-product-response {
    flex-direction: column;
  }

.header-botton-font {
  font-size: 12px !important;
}
  .product-card {
    flex-direction: column;
    height: auto !important;
  }


.sort-style {
  display: none;
}
  .totalproducts  {
    font-size: 12px;
  }
.form-control {
  width: 150px;
  font-size: 12px;
}

.sorter{
gap: 0 !important;
font-size: 12px;
}

  .small-banner-content h5 {
    font-size: 16px !important;
  }
  .small-banner-content h4 {
    font-size: 8px !important;
  }


  .small-banner-content p {
    font-size: 8px !important;
  }

  .small-banner-content .change-buttom-opacity {
    font-size: 8px !important;
  }
  .main-banner-content h6 {
    font-size: 12px;
  }
.dis-none-small{
  display: none;
}
  .buttonsmall {
    font-size: 12px;
    padding: 7px;
  }

  .flex-sm-column2 div h6 {
    font-size: 6px;
  }

  .modal-input{
    width: 90%;
  }
  .modal-label{
    font-size: 80%;
  }
.modal-span {
  font-size: 70%;
}

.collapsed-nav-response {
  font-size: 8px;
  margin-top: 24px;
}

.header-upper-links a img {
  width: 20px;
}


}

.modal.open {
  opacity: 1;
  pointer-events: auto;
}

.modal.closing {
  opacity: 0;
}


.no-message {
  background-image: url("../public/images/noMessage.gif") !important;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  width: 150px;
  min-height: 150px;

}


.thanks-message{
  background-image: url("../public/images/thank.gif");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: 250px;
  min-height: 150px;
}


.modal-content {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  width: 50vw;
  max-width: 300px;

}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Modal? */

/* cart ends here */


/* mediaqueru */

@media (max-width: 1560px){


  .featured-collection-wrap-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }


.famous-card-t {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 40vw;

}



.title-special {
  font-size: 22px;

}
  .pro-count-resp {
  
    position: relative !important;
    font-size: 15px !important;

  }

  .special-product-response {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .special-product-content-size {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;

  }
.services-width {
  height: 26px;
}
  .dropdown{
    display: none;
  }
  .header-top-strip {
    display: none;

  }

  .d-none-off {

    display: block !important;
  }
  
  .border-00{
    border: none !important;
  }

  
  .widthquery2{
    display: flex;
    flex-direction: column;
  } 



  
.main-banner-content h4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--bannertext-color);
  margin: 0 0 6px;
  letter-spacing: 0.3px;
  text-transform: uppercase;

}



.main-banner-content h5 {
  font-size: 24px;
  letter-spacing: -2px;
  font-weight: 500;
  padding: 0;
  text-transform: none;
}

.main-banner-content p , Link {
  font-size: 12px;
  letter-spacing: 0.4px;
  color: var(--downheader-color);
  font-weight: 500;
  padding: 0;
  text-transform: none;
}


.small-banner {
  width: 100%;
}
.displaynone {
  display: none;
}

.flex-sm-column2{
  flex-direction: column;
}

.flex-sm-column2 h6 {
  font-size: 8px;
  margin: 0 !important;

}
footer {
  display: none;
}









.first-famous-card {
  height: 500px;
  background-color: var(--baar-color);
  display: flex;
  align-items: end;
  border-radius: 10px;
  z-index: 10;
}
.first-famous-card img {
  scale: 0.8;
}

.other-famous-card {
  height: 500px;
  background-color: var(--catefories-color);
  display: flex;
  align-items: end;
  border-radius: 10px;
}

.famous-card .famous-content {
top: 10%;
left: 4%;
}

.famous-content h5{
font-size: 13px;
line-height: 20px;
font-weight: 400;
color: white;
margin-bottom: 7px;
text-transform: uppercase ;
}

.famous-content h6{
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  color: white;
}
.famous-content p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: white;
}

.famous-card img {
  border-radius: 10px;
  margin-bottom: 20px;
transition: 0.3s;

}
.famous-card {
transition: 0.3s;

}
.famous-card:hover {
scale: 1.05;
background-color: var(--icon-color);
}


.famous-card-t div:first-child:hover {
  scale: 1.1;
  background-color: var(--price-color);
  }


  .famous-card img:hover {
    scale: 1.5;
    z-index: -10;
    overflow: scroll;
    }

.change-brand-direction {
  flex-direction: column-reverse;
}

.change-brand-size {
  font-size: 10px !important;

}
}
