* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--header-color: #131921;
--downheader-color: #3b4149;
--icon-color: #febd69 ;
--baar-color: #232f3e;
--bannertext-color: #bf4800 ;
--homewrapper-color: #f5f5f7;
--catefories-color: #ededed;
--blog-color: #777;
--price-color: #1c1c1b;
--discount-color: #fc353c ;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a ;
  padding: 15px;
}

body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--icon-color);
}


.gap-05 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--baar-color);
  color: white;
  padding: 13px 33px;
  font-size: 14px;
  border-radius: 25px;
}

.button:hover{
  background-color: var(--icon-color);
  color: var(--header-color);
}

/* Header Part */

.header-top-strip {
  border-bottom: 1px solid var(--downheader-color);
  background-color: var(--header-color);
}

.header-upper {
  background-color: var(--header-color);
}
.header-upper .input-group-text {
  background-color: var(--icon-color);
}

.header-botton {
  background-color: var(--downheader-color);
}

.header-botton .menu-links a ,
.header-botton .dropdown button {
color: white;
font-size: 14px;
line-height: 18px;
font-weight: 400;
letter-spacing: 0.3;
text-transform: uppercase;
}
.header-botton .dropdown button {
  background: transparent;
  border: none;
}
.header-botton .dropdown button::before{
  content: url("../public/images/menu.svg") ;
}
.header-botton .dropdown button:focus {
  box-shadow: none;
}
.header-upper-links img {
  height: 35px;
  width: 35px;
}

.header-botton .dropdown-menu {
  background-color: var(--header-color);
  width: 100%;
  color: white;
  margin-top: 40px;
  transform: translate(0px, 60px) !important;
}
.header-botton .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--downheader-color);
}
.header-botton .dropdown-item:hover{
  background-color: #febd6916;
  color: var(--header-color) !important;
}
/* Header Ends Here */



/* footer part */

footer {
  background-color: var(--baar-color);
}

footer:not(:first-child) {
  border-top: 1px solid var(--downheader-color);
}
footer .input-group-text {
background-color: var(--baar-color);
color: white;
padding: 8px 17px;
font-size: 400;
line-height: 20px;
}
/* footer part ends here */



/* home page */



.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--bannertext-color);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;

}

.main-banner-content {
  top:15%;
  left: 8%;
  font-size: 1.3vw;
}

.main-banner-content h5 {
  font-size: 32px;
  letter-spacing: -2px;
  font-weight: 500;
  padding: 0;
  text-transform: none;
}

.main-banner-content p , Link {
  font-size: 16px;
  letter-spacing: 0.4px;
  color: var(--downheader-color);
  font-weight: 500;
  padding: 0;
  text-transform: none;
}

/* small banner */

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--bannertext-color);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;

}

.small-banner-content {
  top:50%;
  transform: translateY(-50%);
  left: 10%;
  font-size: 1.3vw;
}

.small-banner-content h5 {
  font-size: 22px;
  letter-spacing: -1px;
  font-weight: 500;
  padding: 0;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  letter-spacing: 0.4px;
  color: var(--downheader-color);
  font-weight: 500;
  padding: 0;
  text-transform: none;
}

.small-banner {
  width: 49%;
}

/* home wrapper2 */

.home-wrapper-2 {
background-color: var(--homewrapper-color);
}

/* home wrapper 2 ends here */

/* categories */

.categories {
background-color: white;
box-shadow: 0 0 10px #0000001a;
padding: 15px;
}

.categories > div {
  width: 25%;
}

.categories > div > div {
  width: 45%;
}


.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4)
 {
border-bottom: 1px solid var(--catefories-color);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7)
 {
border-right: 1px solid var(--catefories-color);
}

/* categories ends here */

/* home page ends here */

/* blog part */
.blog-card{
  background-color: white;
  border-radius: 10px;
}

.blog-card img {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.blog-content{
  padding: 15px; 
}

.date{
font-size: 13px;
line-height: 24px;
text-transform: uppercase;
font-weight: 400;
color: var(--blog-color);
}

.blog-content h5{
  font-size: 15px;
  color: var(--header-color);
}

.blog-content .desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--blog-color);
}
/* blog part ends here */


/* product card */

.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.product-card:hover .action-bar{
  right: 5%;

}

.product-card .product-details h6 {
color: var(--bannertext-color);
font-size: 13px;
}

.product-card .product-details h5 {
font-size: 15px;
color: var(--price-color);
}

.product-card .product-details p.price {
  font-size: 16px;
  color: var(--price-color);
}

strike{
  font-size: 18px;
}
.action-bar {
  top: 13%;
  right: -10%;
  transition: 0.3s;
}

.product-card .product-image img {
  object-fit: contain;
}

.product-card .product-image {
  height: 270px;

}


.wishlist-icon {
  top:5% ;
  right: 5%;
}

.product-card .product-image >img:last-child {
display: none;
}

.product-card:hover .product-image > img:first-child{
display: none;
}
.product-card:hover .product-image > img:last-child{
  display: block;
}
/* product card ends here */


/* special product card */
.special-product-card {
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
}

.discount-badge {
  border-radius: 50%;
  background-color: var(--discount-color);
}



.pro-count p {
  position: absolute;
  top: -120%;
  color: var(--blog-color);
}
.till-date{
  font-weight: bold;
}
.red-p {
  color: var(--discount-color);
  font-size: 24px;
  line-height: 44px;
}
/* special product card ends here */