* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--header-color: #131921;
--downheader-color: #3b4149;
--icon-color: #febd69 ;
--baar-color: #232f3e;
}

body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--icon-color);
}

.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

/* Header Part */

.header-top-strip {
  border-bottom: 1px solid var(--downheader-color);
  background-color: var(--header-color);
}

.header-upper {
  background-color: var(--header-color);
}
.header-upper .input-group-text {
  background-color: var(--icon-color);
}

.header-botton {
  background-color: var(--downheader-color);
}

.header-botton .menu-links a ,
.header-botton .dropdown button {
color: white;
font-size: 14px;
line-height: 18px;
font-weight: 400;
letter-spacing: 0.3;
text-transform: uppercase;
}
.header-botton .dropdown button {
  background: transparent;
  border: none;
}
.header-botton .dropdown button::before{
  content: url("../public/images/menu.svg") ;
}
.header-botton .dropdown button:focus {
  box-shadow: none;
}
.header-upper-links img {
  height: 35px;
  width: 35px;
}

.header-botton .dropdown-menu {
  background-color: var(--header-color);
  width: 100%;
  color: white;
  margin-top: 40px;
  transform: translate(0px, 60px) !important;
}
.header-botton .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--downheader-color);
}
.header-botton .dropdown-item:hover{
  background-color: #febd6916;
  color: var(--icon-color) !important;
}
/* Header Ends Here */




/* footer part */

footer {
  background-color: var(--baar-color);
}

footer:not(:first-child) {
  border-top: 1px solid var(--downheader-color);
}
footer .input-group-text {
background-color: var(--baar-color);
color: white;
padding: 8px 17px;
font-size: 400;
line-height: 20px;
}
/* footer part ends here */